<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HidroChico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>
    <section id="header" class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Hidro Chico</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container-fluid">
        <div class="row">
          <div id="map" class="col-md-8 map"></div>
          <div id="controls" class="col-md-4 controls">
            <h3>Controles</h3>
            <div class="checkbox">
              <label><input type="checkbox" value="Envisat"> Envisat</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="ANA"> ANA</label>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Data de Início</label>
              <input type="text" class="form-control" id="start_date" placeholder="dd/mm/YYYY">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Data do Fim</label>
              <input type="text" class="form-control" id="end_date" placeholder="dd/mm/YYYY">
            </div>
            <button id="refresh-button" class="btn btn-default">Atualizar</button>
          </div>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='bower_components/leaflet/dist/leaflet.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/models/Station.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" charset="utf-8"></script>
  </body>
</html>
